{% extends "network/layout.html" %}

{% block body %}
<div class="container">
<h1 class="page-title">Following</h1>
    {% for post in posts_of_the_page %}
    <div class="post-card">
      <div class="post-header">
        <strong><a href="{% url 'profile' user_id=post.user.id %}">@{{ post.user }}</a></strong>
        <span class="post-date">{{post.date}}</span>
      </div>
      <div id="content_{{post.id}}" class="post-content">
        {{post.content}}
      </div>

    </div>
    {% endfor %}
    <div class="pagination">
      <ul class="pagination-list">
        {% if post_of_the_page.has_previous%}
         <li><a class="pagination-btn" href="?page={{posts_of_the_page.previous_page_number}}">⟨ Previous</a></li>
        {% endif %}
            <li class="current-page">Page {{ posts_of_the_page.number }} of {{ posts_of_the_page.paginator.num_pages }}</li>
            {% if posts_of_the_page.has_next %}
              <li><a class="pagination-btn" href="?page={{ posts_of_the_page.next_page_number }}">Next ⟩</a></li>
            {% endif %}
      </ul>
    </div>
 
</div>

{% endblock %}